# Node
node_modules/
dist/

# Playwright
playwright-report/
test-results/
.playwright/

# Maven
karate/target/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.iml

# Pact
pact/logs/
pact/tmp/
tests/contract/pacts/*.log

# Env
.env
.env.local
